<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%=student.studentId%>: <%=student.name%>
    </h1>
    <p>Computer Marks: <%=student.computerMarks%>
    </p>
    <p>Math Marks: <%=student.mathMarks%>
    </p>
</body>

</html>